&-sidebar {
    display: block;
    width: 100%;
    background-color: #2d2d2d;
    position: fixed;
    height: 100%;
    left: -100%;
    transition: all .8s;

    &.show {
        left: 0;

        @media (min-width: $mobileScreenStart) {
            left: unset;
        }
    }

    @media (min-width: $mobileScreenStart) {
        width: $sidebarWidth;
        position: relative;
        left: unset;
    }
}