$white: #fff;
$black: #000;
$lightGrey: #e0e0e0;
$lighterGrey: #f6f6f6;

$mobileScreenStart: 992px;

$sidebarWidth: 90px;
$sidebarBackground: #2d2d2d;
$sidebarSubMenuBackgorund: #3e3e3e;
$sidebarLinkHoverActive: #535353;
$sidebarDarker: #282625;