$white: #fff;
$black: #000;
$lightGrey: #e0e0e0;
$lighterGrey: #f6f6f6;
$middleDarkGrey: #7e7e7e;
$darkGrey: #2d2d2d;

$mobileScreenStart: 992px;

$sidebarWidth: 90px;
$sidebarBackground: #2d2d2d;
$sidebarSubMenuBackground: #3e3e3e;
$sidebarLinkHoverActive: #535353;
$sidebarDarker: #282625;

$danger: #b70c1c;
$success: #4BB543;
$warning: #ffcc00;

$defaultTransition: all .4s;