* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

@import "../../src/assets/fonts/vlc-icons/vlc-icons.css";

@import "./variables";
@import "./components/layout/layout";
@import "./components/sidebar-menu/sidebar-menu";
@import "./components/form/form";
@import "./utils/text/text";
@import "./components/alert/alert";