.layout {
    display: flex;
    width: 100%;
    height: 100%;

    @import "./components/sidebar";

    &-content {
        display: block;
        width: 100%;

        @media (min-width: $mobileScreenStart) {
            width: calc(100% - 90px);
        }
    }
}